/* резет команды */
html {
  box-sizing: border-box;
  font-size: 16px;
}
/* обводка */
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
/* обводка */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Times New Roman";
}
body{
  overflow-x: hidden;
}
/* сокращенный сброс настроек кнопок во всех браузерах */
li{
  all: unset;
}
/* шапка */

header{
  width: 100vw;
  height: 100vh;
  background-image: url("img/gabriel ghnassia A9h6OsAxTyQ unsplash.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.fil{
  background: rgba(20, 39, 74, 0.5);
  width: 100%;
  height: 100%
}
.header{
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
}
/* логотип */
.logo{
  width: 20vw;
  height: 15vh;
  background: #E0B973;
  border-radius: 0 0 2em 2em ;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h2{
  width: 100%;
  font-size: 3vw;
  text-align: center;
  line-height: 40%;


}
.logo h2 small{
  font-size: 1vw;
}
/* логотип */
/* менюшка */
nav{
  margin-top: 3em;
}
nav ul li a{
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  text-align: center;
  min-width: 1em;
  min-height: 1em;
  padding: .5em 1em;
  font-size: 1.5vw;
}
/* действие прина ведении */
nav ul li a:hover{
  border-bottom: 0.02em solid rgb(255, 255, 255);
}
/* действие при фокусировании клике*/
nav ul li a:active{
  color: #bababa;
}
/* менюшка */
/* текст после меню */
.text{
  width: 64%;
  color: #ffffff;
  margin: 5em 0 0 5em;
}
.text h1{
  font-size: 9vw;
  line-height: 60%;
}
.text h1 small, .text span{
  font-size: 4vw;
}
.text p{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  line-height: 30px;
  letter-spacing: 0.1em;
}
/* текст после меню */
/* кнопочка */
button{
  /* width: 10vw; */
  background: #E0B973;
  border-radius: 10px;
  padding: 1em 2em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  font-size: .9vw;
}
button img{
  width: 2vw;
  margin-right: .5em;
}
.text + button{
  margin-top: 3em;
}
/* кнопочка */
/* скролл */
.Scroll{
  width: 100%;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items:  center;
  margin-top: 1em;
}
.Scroll span{
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  letter-spacing: 0.05em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.Scroll img{
  width: 3vw;
}
/* анимация на иконку скрола */
.fadeOutDown {
 -webkit-animation-name: fadeOutDown;
 animation-name: fadeOutDown;
 -webkit-animation-duration: 3s;
 animation-duration: 3s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 animation-iteration-count: infinite;
 }
 @-webkit-keyframes fadeOutDown {
 0% {
 opacity: 1;
 }
 100% {
 opacity: 0;
 -webkit-transform: translate3d(0, 100%, 0);
 transform: translate3d(0, 100%, 0);
 }
 }
 @keyframes fadeOutDown {
 0% {
 opacity: 1;
 }
 100% {
 opacity: 0;
 -webkit-transform: translate3d(0, 100%, 0);
 transform: translate3d(0, 100%, 0);
 }
 }
 /* анимация на иконку скрола */
/* скролл */
/* шапка */


/* основная часть сайта */
main{
  width: 100vw;
  min-height: 10vh;
  padding-top: 3em;
}
main h2{
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight:  normal;
  font-size: 1.5rem;
  line-height: 44px;
  color: #14274A;
  width: 100%;
  text-align: center;
}
/* секция */
section{
  width: 100%;
  height: 40vh;
  background: #0c5ccc;
  display: flex;
  flex-grow: 1;
  flex-flow: nowrap;
  justify-content: center;
  align-items: center;
}
.opisanie{
  width: 40%;
}
picture{
  width: 49%;
  height: 10%;

}
picture img{
  width: 100%;
  o
}
/* секция */
/* основная часть сайта */
