/* резет команды */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Times New Roman";
}
/* сокращенный сброс настроек кнопок во всех браузерах */
button, li{
  all: unset;
}
/* шапка */
header{
  width: 100%;
  height: 750px;
}
header{
  background-image: url("img/gabriel ghnassia A9h6OsAxTyQ unsplash.png");
  background-size: cover;
  background-position: center;
}
.fil{
  background: rgba(20, 39, 74, 0.5);
  width: 100%;
  height: 100%
}
.header{
  display:flex;
  justify-content: space-around;
}
/* логотип */
.logo{
  min-width: 250px;
  min-height: 120px;
  background: #E0B973;
  border-radius: 0 0 2em 2em ;
  padding: 1.5em 3em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
span{
  font-style: normal;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 48px;
  letter-spacing: 0.1em;
  color: #14274A;
  width: 100%;
}
.smal{
  font-size: 1em;
  margin: -.6em -3em 0em 0em;
  font-style: normal;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0.6em;
  color: #14274A;
}
/* логотип */
/* менюшка */
nav{
  margin-top: 3em;
}
nav ul li a{
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  text-align: center;
  min-width: 1em;
  min-height: 1em;
  padding: .5em 1em;
}
/* действие прина ведении */
nav ul li a:hover{
  border-bottom: 0.02em solid rgb(255, 255, 255);
}
/* действие при фокусировании клике*/
nav ul li a:active{

}
/* менюшка */
/* текст после меню */
.text{
  width: 64%;
  min-height: 1em;
  color: #ffffff;
  margin: 5em 0 0 5em;
}
.text span{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 61px;
  color: #ffffff;
}
h1{
  font-size: 8em;
  line-height: normal;
}
p{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 30px;
  letter-spacing: 0.1em;
}
h2{
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: normal;
  letter-spacing: 0.4em;
}
/* текст после меню */
/* кнопочка */
button{
  min-width: .5em;
  min-height: .5em;
  background: #E0B973;
  border-radius: 10px;
  padding: 1em 1.2em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
button img{
  margin-right: .5em;
}
.text + button{
  margin-top: 3em;
}
/* кнопочка */
/* шапка */
