@media screen and (max-width: 1024px) {
button{
  width: 15vw;
}
.text h1{
  font-size: 12vw;
  line-height: 60%;
}
.text h1 span{
  margin-top: 2em;
}
}
@media screen and (max-width: 768px){
  .text h1 {
    font-size: 6rem;
  }
  .text{
    height: 62vh;
    margin: 0 0 0 5em;
  }
  .Scroll span{
    font-size: 2vw;
  }
  button{
    width: 12vw;
  }
  section{
    display: block;
  }
  .text_opisanie, picture, .text_opisanie p{
    width: 100%;
  }
  .text_opisanie{
    margin: 1em 0;
  }
  .contriller button{
    height: 3vh;
  }
  .text_opisanie button{
    width: 12vw;
    height: 3vh;
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px){
  .text{
    margin: 0 0 0 2em;
  }
  .text h1{
    font-size: 4rem;
  }
  .text span, .text h1 small{
    font-size: 1.5rem;
  }
  .header{
    height: 21vh;
  }
  .logo{
    border-radius: 0 0 1em 1em;
    height: 9vh;
  }
  header nav{
    margin-top: 1em;
  }
  nav ul li a{
    font-size: 0.5rem;
  }
  .logo h2 small{
    font-size: 0.4rem;

  }
  .logo h2{
    line-height: 60%;
  }
  .Scroll button{
    font-size: 0.8rem;
    width: 30%;
  }
  .Scroll img{
    width: 1.5em;
  }
  .text_opisanie button{
    width: 22vw;
  }
  .text2 h3{
    font-size: 2rem;
  }
  footer nav{
  display: none;
}
}
